@import url('./style.css');

.program__photos {
    flex-wrap: wrap;
}

.program__photos .program__photo {
    width: 25%;
    object-fit: cover;
    object-position: center;
    max-height: 301px;
}

.program__photo img {
    width: 100%;
    height: 100%;
}


.program__card h2 {
    margin: 40px 0 80px;
    text-align: center;
    font-size: 3rem;
}

.program__number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--background-color);
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    position: relative;
}

.program__card:before {
    position: absolute;
    content: '';
    width: 50%;
    top: 30px;
    transform: translate(-50%, 50%);
    right: 0;
    height: 1px;
    background-color: var(--background-color);
}

.program__plan {
    width: 50%;
}


.program__plan__title {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    margin-top: 30px;
}

.program__plan__specification {
    margin: 20px 0;
}

ul li {
    margin: 20px 0;
    list-style-type: disc;
    font-family: 'Manrope', sans-serif;
}

ul {
    margin-left: 20px;
}

.program__card {
    margin-top: 80px;
}

.pages {
    gap: 10px;
}

.page {
    color: black;
    border-radius: 50%;
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.program__card__ver__2 {
    margin-top: 60px;
    position: relative;
}

.program__card__ver__2 h2 {
    font-size: 3rem;
}


.program__photo__ver__2 {
    object-fit: cover;
    object-position: center;
}

.program__photo__ver__2 img {
    width: 100%;
    border-radius: 10px;
}

.program__card__ver__2:before {
    position: absolute;
    content: '';
    width: 50%;
    top: 30px;
    transform: translate(-50%, 50%);
    right: 0;
    height: 1px;
    background-color: var(--background-color);
}

footer ul li {
    margin: 0;
}

footer ul {
    margin-left: 0;
}

header ul li, footer ul li {
    list-style-type: none;
}

/*https://eventsecret.ru/top-tematiki-den-rozhdeniya?ysclid=lrivjqwhtj330615741*/