@import url("../fonts/fonts.css");
@import url("./tw.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f6f5f5;
}

header {
    padding: 30px 0;
}

.logo {
    gap: 1.1rem;
}

a {
    text-decoration: none;
}

ul {
    gap: 20px;
}

li {
    list-style: none;
}

ul li a {
    color: black;
}

.main-screen {
    height: 40vw;
}

.card {
    border: 1px solid black;
    padding: 30px 40px;
    border-radius: 15px;
}

.card__title {
    font-size: 2rem;
}

.card__description {
    font-size: 1.2rem;
    word-wrap: break-word;
}

.card__button {
    margin-top: .7rem;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 15px 60px;
    font-size: 1.4rem;
}

.right {
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
}

.left {
    top: 50%;
    left: -5%;
    transform: translate(-50%, -50%);
}

.arrow {
    cursor: pointer;
    font-size: 3rem;
}

.section-padding {
    padding: 80px 0;
}

.section-padding-bottom {
    padding-bottom: 80px;
}

.stat__title {
    font-size: 4rem;
    font-weight: bold;
}

.stat__description {
    font-size: 2rem;
}

.section-title {
    font-size: 4.5rem;
}

.employee__img {
    border-radius: 100%;
    width: 100%;
    max-width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

select {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.employee__title {
    font-size: 1.5rem;
    margin-top: 8px;
}

.employee__description {
    font-size: .9rem;
    margin-top: 2px;
}

.employee__card {
    border: 1px transparent solid;
    border-radius: 20px;
    transition: .5s all;
}

.employee__card:hover {
    transition: .3s all ease-in-out;
    background-color: rgba(0, 0, 0, .2);
}

.cases {
    flex-wrap: wrap;
    gap: 3px;
}

.case__img {
    width: 100%;
    max-width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    transition: .5s all;
}

.case__img:hover {
    filter: brightness(70%);
    transition: .3s ease-in-out all;
}